:root {
  --color-white: #fff;
  --color-light-1: #f5f0e8;
  --color-light-2: #eee4da;
  --color-light-3: #ede0c8;
  --color-light-4: #faf6f2;
  --color-light-5: #cdc0b4;

  --color-orange-1: #f2b179;
  --color-orange-2: #f59563;
  --color-orange-3: #f67c5f;
  --color-orange-4: #f65e3b;

  --color-yellow-1: #edcf72;
  --color-yellow-2: #edcc61;
  --color-yellow-3: #edc850;
  --color-yellow-4: #edc53f;
  --color-yellow-5: #edc22e;

  --color-brown-1: #8f7a66;
  --color-brown-2: #776e65;
  --color-brown-3: #bbada0;

  --container-width: #{rem(470)};
}