@keyframes appear {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.tile {
  position: absolute;
  background-color: var(--color-bg-tile-empty);
  border-radius: rem(6);
  font-weight: 700;
  font-size: rem(32);
  color: var(--color-text-on-light);
  width: calc((100% - rem(32) - rem(36)) / 4);
  height: calc((100% - rem(32) - rem(36)) / 4);
  left: calc(rem(16) + (var(--col) - 1) * ((100% - rem(32) - rem(36)) / 4 + rem(12)));
  top: calc(rem(16) + (var(--row) - 1) * ((100% - rem(32) - rem(36)) / 4 + rem(12)));
  transition: left 0.15s ease-out, top 0.15s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &:is(.new, .merged, .moving) {
    z-index: 10;
  }

  &.new {
    animation: appear 0.2s ease-out;
  }

  &.merged {
    animation: pop 0.2s ease-out;
  }

  &--2 {
    background-color: var(--color-tile-2);
    color: var(--color-text-primary);
  }

  &--4 {
    background-color: var(--color-tile-4);
    color: var(--color-text-primary);
  }

  &--8 {
    background-color: var(--color-tile-8);
  }

  &--16 {
    background-color: var(--color-tile-16);
  }

  &--32 {
    background-color: var(--color-tile-32);
  }

  &--64 {
    background-color: var(--color-tile-64);
  }

  &--128 {
    background-color: var(--color-tile-128);
    font-size: rem(28);
  }

  &--256 {
    background-color: var(--color-tile-256);
    font-size: rem(28);
  }

  &--528 {
    background-color: var(--color-tile-512);
    font-size: rem(28);
  }

  &--1024 {
    background-color: var(--color-tile-1024);
    font-size: rem(24);
  }

  &--2048 {
    background-color: var(--color-tile-2048);
    font-size: rem(24);
  }
}