@keyframes appear {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.tile {
  position: absolute;
  background-color: var(--color-light-5);
  border-radius: rem(6);
  font-weight: 700;
  font-size: rem(32);
  color: var(--color-light-4);
  width: calc((100% - rem(32) - rem(36)) / 4);
  height: calc((100% - rem(32) - rem(36)) / 4);
  left: calc(rem(16) + (var(--col) - 1) * ((100% - rem(32) - rem(36)) / 4 + rem(12)));
  top: calc(rem(16) + (var(--row) - 1) * ((100% - rem(32) - rem(36)) / 4 + rem(12)));
  transition: left 0.15s ease-out, top 0.15s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &:is(.new, .merged, .moving) {
    z-index: 10;
  }

  &.new {
    animation: appear 0.2s ease-out;
  }

  &.merged {
    animation: pop 0.2s ease-out;
  }

  &--2 {
    background-color: var(--color-light-2);
    color: var(--color-brown-2);
  }

  &--4 {
    background-color: var(--color-light-3);
    color: var(--color-brown-2);
  }

  &--8 {
    background-color: var(--color-orange-1);
  }

  &--16 {
    background-color: var(--color-orange-2);
  }

  &--32 {
    background-color: var(--color-orange-3);
  }

  &--64 {
    background-color: var(--color-orange-4);
  }

  &--128 {
    background-color: var(--color-yellow-1);
    font-size: rem(28);
  }

  &--256 {
    background-color: var(--color-yellow-2);
    font-size: rem(28);
  }

  &--528 {
    background-color: var(--color-yellow-3);
    font-size: rem(28);
  }

  &--1024 {
    background-color: var(--color-yellow-4);
    font-size: rem(24);
  }

  &--2048 {
    background-color: var(--color-yellow-5);
    font-size: rem(24);
  }
}